<div>
  <h1 class="title">Course<span class="title2">Flow</span></h1>
  <div class="search_form">
    <form class = "form">
      <img src="<%= asset_path('searchicon.png') %>" class="search_icon">
      <input type="text" name="search" placeholder="Search majors or course numbers">
    </form>
    <button type="button" class="btn btn-raised btn-success search_button">Search</button>
  </div>
</div>
