<div>
  <div class = "search_form">
    <form class = "form">
      <input type="text" name="search" placeholder="Enter majors or course numbers">
    </form>
    <button type="button" class="btn btn-raised btn-success search_button">Search</button>
  </div>
</div>
